bin/
src/testGephiAPI/
src/gephi
src/maze_with_Lsystem/Simulator3D.java
frames/
frames1/


# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.swp
*.bak